<!DOCTYPE html>
<html>
  <head>
    <meta charset="${charset}">
    <meta name="keywords" content="${keywords}">
    <meta name="description" content="${description}">
    <meta name="viewport" content="${viewport}">
    <title>${title}</title>
    <link rel="stylesheet" href="${styles}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script type="importmap">${importmap}</script>
    </script>
    <script type="module" src="${app}"></script>
    <script nomodule src="/assets/js/noModule.js"></script>
  </head>
  <body>
    <!-- react app render content -->
    <div id="root">${root}</div>${error}
    <!-- javascript was not supported -->
    <noscript>
      <div class="alert alert-warning sticky-top" role="alert">
        <h4 class="alert-heading">提示信息⚠️:</h4>
        <hr/>
        <p>当前客户端未启用JavaScript或不支持JavaScript.</p>
        <p>请更换浏览器客户端或启用JavaScript支持后重试!</p>
      </div>
    </noscript>
  </body>
</html>
