{
    "env": {
        "browser": true,
				"node": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "standard"
    ],
    "parserOptions": {
				"ecmaVersion": 12,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": false
        }
    },
    "plugins": [
        "react"
    ],
    "rules": {
				"indent": ["warn", 2, {
          "SwitchCase": 1
        }],
			  "semi": ["warn", "always"],
				"linebreak-style": ["error", "unix"],
				"comma-dangle": ["warn", {
          "arrays": "always-multiline",
          "objects": "always-multiline",
          "imports": "always-multiline",
          "exports": "never",
          "functions": "never"
        }],
				"no-unused-vars": ["warn"],
        "quotes": ["warn", "double"]
    }
}
