# #############################################
# 参考文档 http://help.github.com/ignore-files/
# #############################################

# Mac
.DS_Store

# vim
*.sw[mnop]
*.un
*.*.un
*.un~
*.*.un~
*.~

# Node.js
node_modules
package-lock.json
yarn.lock

# files
.env
*.log
*.local
*.local.conf
*.local.json
*.o
*.out

# directory
config
log
