// placeholder 
// 占位符

placeholder h2, 
placeholder p {
  background-color: #f2f2f2;
  font-family: sans-serif;
  overflow: hidden;
  position: relative; 
}

placeholder h2:after, 
placeholder p:after {
  animation: placeholder_animation 6s infinite;
  background: linear-gradient(to right, #f2f2f2, #fcfcfc, #f2f2f2);
  content: '';
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%; 
}

.placeholder_xsmall { width: 35%; }
.placeholder_small  { width: 50%; }
.placeholder_medium { width: 75%; }
.placeholder_large  { width: 85%; }
.placeholder_full   { width: 100%; }

@keyframes placeholder_animation {
  from { transform: translate3d(-100%, 0, 0); }
  to   { transform: translate3d(100%, 0, 0); } 
}
