// blockquote styles
blockquote, .blockquote, {
  border: 1px solid $gray-200;
  border-left-color: $default;
  border-left-width: 0.25rem;
  border-radius: .25rem;
  padding: 0.75rem;
  padding-left: 1.25rem;
  font-style: italic;
  font-size: 0.85rem;
	background-color: $gray-100;
}
