<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
  </head>
  <body>
    <div id="root"></div>
    <noscript>
      <div class="alert alert-warning sticky-top" role="alert">
        <h4 class="alert-heading">提示信息⚠️:</h4>
        <hr/>
        <pre>
          当前客户端未启用JavaScript或不支持JavaScript.
          请更换客户端或启用JavaScript支持后重试!
        </pre>
      </div>
    </noscript>
  </body>
</html>
