| 序号 | 公司 | 姓名 | 入职日期 | 离职日期| 借贷宝借款人数 | 借贷宝交易笔数 | 借贷宝既遂借条金额 | 借贷宝未遂借条金额 | 今借到借款人数 | 今借到交易笔数 | 今借到既遂借条金额 | 今借到未遂借条金额 | 借贷宝最早时间 | 借贷宝最晚时间 | 今借到最早时间 | 今借到最晚时间 |
| :--: | :--: | :--: | :----:   | :----:  | :----:         | :----:       | :----:             | :----:             | :----:         | :------:     | :------:       | :---:  | :--: | :--: | :---: | :---: |
