// set background
@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value);
}

@if $enable-gradients {
  @each $color, $value in $theme-colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
  }
}

.bg-blend-overlay { background-blend-mode: overlay; }
.bg-clip-border  { background-clip: border-box; }
.bg-clip-content { background-clip: content-box; }

.bg-transparent { background-color: transparent; }

.bg-repeat-x { background-repeat: repeat-x; }
.bg-repeat-y { background-repeat: repeat-y; }
.bg-norepeat { background-repeat: no-repeat; }

.bg-left-top    { background-position: left top; }
.bg-left-bottom { background-position: left bottom; }
.bg-fixed { background-attachment: fixed; }

.bg-zize-cover   { background-size: cover; }
.bg-zize-contain { background-size: contain; }
.bg-zize-100 { background-size: 100% 100%; }
