// Width and height
@each $prop, $abbrev in (width: w, height: h) {
  @each $size, $length in $sizes {
    .#{$abbrev}-#{$size} { 
      #{$prop}: $length !important; 
    }
  }
}

.mw-25 { max-width: 25%; }
.mw-75 { max-width: 75%; }
.mw-100 { max-width: 100%; }

.min-vh-85  { min-height: 85vh; }
.vw-100  { width: 100vw}
.vh-100  { height: 100vh; }
.vh-85   { height: calc(100vh - 15vh); }
.vh-25   { height: 25vh; }
