// CSS动画
@keyframes collapse { 
  0%   {opacity: 0.85;} 
  100% {opacity: 1;}
}

.filter-color {
  animation: mymove 7s infinite;
}
@keyframes filter { 
  50% { filter: grayscale(100%); }
}

@keyframes opacity { 
  0%   {opacity: 0.5;} 
  100% {opacity: 1;}
}

.rainbow {
  //animation-fill-mode属性:
  //1.forwards 停留在结束状态
  //2.backwards 停留在第一帧状态
  //3.none 停留在开始状态
  //4.both 停留在第一帧状态
  animation: 1s rainbow forwards;
}
@keyframes rainbow {
  0% { background: #c00; }
  50% { background: orange; }
  100% { background: yellowgreen; }
}
//切换
@keyframes toggle {
  from {
  } 
  to {
  }
}
// border转圈透明
input[type="password"]:focus,
.transparent-border {
  border: 1px solid #ccc; 
  animation: transparent-border 2s infinite;
}
@keyframes transparent-border {
  25% { border-top-color: transparent; }
  50% { border-right-color: transparent;}
  75% { border-bottom-color: transparent;}
  100% { border-left-color: transparent;}
}
//360度旋转
.spin {
  animation: spin infinite 20s linear;
  height: 80px;
}
@keyframes spin { 
  from {transform: rotate(0deg);} 
  to {transform: rotate(360deg);} 
}
.fade-2,
.disappear {
  animation: disappear 2s linear;
}

@keyframes disappear { 
  0%   {opacity: 0.85;} 
  100% {opacity: 0.25;}
}
