blockquote {
  border-width: 1px;
  border-left-width: 0.25rem;
  border-style: solid;
  border-radius: $border-radius-sm;
  padding: 0.25rem 0.5rem;
  margin: 0 0 $spacer;
  @include font-size($blockquote-font-size*0.875);
}

@mixin blockquote-theme ($color) {
  border-color: lighten($color, 75%);
  border-left-color: $color;
}

@each $color, $value in $theme-colors {
  .theme-#{$color} blockquote {
    @include blockquote-theme($value);
    & h1 {
      color: $value;
    }
  }
}
