// custom bootstrap样式

// alert
.alert p:last-of-type { margin-bottom: 0; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }
