// rainbow

.rainbow {
  animation: rainbow_animation 3s forwards;
}

@keyframes rainbow_animation {
  0% { background: gray; }
  25% { background: pink; }
  50% { background: gray; }
  75% { background: cyan; }
  100% { background: gray; }
}
