# .gitignore文件由程序自动维护生成,修改前请知晓将产生的影响。
# 忽略动态更新、自动生成的文件及目录
index.html
statics/styles.css
statics/styles.css*
statics/styles.css.*
statics/react.development.js
statics/react.production.min.js
statics/react-dom.development.js
statics/react-dom.production.min.js
*.br
*.zip
data
