# Apache Httpd配置项
Options -MultiViews

<IfModule mod_rewrite.c> 
    RewriteEngine On 
    RewriteBase /

    #RewriteCond %{REQUEST_FILENAME}.br -s
    #AddEncoding x-gzip .gz
    #RewriteRule ^(.+) $1.br [L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteRule ^ index.html [QSA,L] 
</IfModule>
