// stylelint-disable declaration-no-important, selector-no-qualifying-type

// Source: https://github.com/h5bp/main.css/blob/master/src/_print.css

// ==========================================================================
// Print styles.
// Inlined to avoid the additional HTTP request:
// https://www.phpied.com/delay-loading-your-print-css/
// ==========================================================================

@if $enable-print-styles {
  @media print {
    *,
    *::before,
    *::after {
      text-shadow: none !important;
      //background: transparent !important;
      box-shadow: none !important;
    }

    abbr[title]::after {
      content: " (" attr(title) ")";
    }

    @page {
      size: $print-page-size;
    }

  }
}
