// 动画效果类

.rainbow { animation: rainbow_animation 3s none 1; }

@keyframes rainbow_animation {
  0% { background: snow; }
  100% { background: gray; }
}

.a_alert { animation: alert_animation infinite none 1; }

@keyframes alert_animation {
  0% { background: snow; }
  100% { background: gray; }
}
